// login.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
        link(rel='stylesheet', href='/css/login.css')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css")
    body
        header
            nav
                ul
                    li
                        a(href="/")
                            i.fa.fa-home
        .main
            .container
                h1 Login
                form#loginForm(action="/auth/login" method="post")
                    .form-group
                        label(for="email") Email:
                        input(type="email" name="email" required)
                    .form-group
                        label(for="password") Password:
                        input(type="password" name="password" required)
                    .form-group
                        label(for="role") Role:
                        select(name="role" required)
                            option(value="patient") Patient
                            option(value="doctor") Doctor
                            option(value="admin") Admin
                    button(type="submit") Log in
                p Don't have an account? #[a(href="/auth/register") Register]
        script(src="/javascript/loginHandler.js")

